{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "class-methods-use-this": 0,
    "no-use-before-define": 0,
    "no-param-reassign": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "object-curly-spacing": 0,
    "indent": [ 2, 2 ],
    "arrow-body-style": ["error", "always"],
    "react/jsx-indent": [ 2, 2 ],
    "react/prop-types": [2, { "skipUndeclared": true }],
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-indent-props": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "max-len": 0
  }
}
